{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.profile.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">Hind Gyanodaya</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
       
      </div>
      <h2 class="article-title">{{ object.title }}</h2>

        {% if post.image %}
        
        <img src="{{ post.image.url }}" class="img-fluid" alt="Responsive image">
        {% endif %}

      <p class="article-content">{{ object.content }}</p>
      {% if post.link %}
      
      <iframe width="500" height="250" src={{ post.link }} frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      
      
      {% endif %}
    </div>
  </article>
{% endblock content %}
